
*.tfvars filter=git-crypt diff=git-crypt
*.tfstate filter=git-crypt diff=git-crypt
# Terraform plan output files need to be encrypted as well
/**/talos/gen/** filter=git-crypt diff=git-crypt

/**/kubeconfig* filter=git-crypt diff=git-crypt
/**/talosconfig* filter=git-crypt diff=git-crypt
/**/*bash_history* filter=git-crypt diff=git-crypt
# tmp might contained secrets, so it's encrypted for the sake of security (even though it should be in .gitignore)
/**/tmp/* filter=git-crypt diff=git-crypt
